body{
    background:#6fa6a6;
    margin:0;
    padding:20px;
}

.big-box{
    margin:auto;
    height:800px;
    width:800px;
    background-color:rgb(248,123,77);
    padding:10px;
    box-sizing:border-box;
}
.a{
    margin-top:10px;  
    height: 80px;
    background-color:blue;
}
h1{

    color:white;
    text-align:center;
    padding:15px;
    
}
.b{
    height: 50px;
    background-color:green;
    margin-top:10px;
    
}
.c{
   background-color:white;
   height: 300px;
   margin-top:10px;
   display:grid;
   grid-template-columns: 2fr 1fr;
   
}
.c1{
    margin: 10px;;
    background-color:#8d85e8;
}   
.c2{
    margin: 10px;
    background-color:yellow;
}   
 
.d{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    margin-top:10px;
}

.d1,.d2,.d3,.d4{
    background-color:#e6e6e6;
    height:150px;
}
